@charset "utf-8";
@import url(fonts.css);

button {
    border: none;
    cursor: pointer;
    background: transparent
}

.product {
    display: flex;
    padding: 10px;
    align-items: flex-start;
}

.thumbnail {
    max-width: 180px;
    width: 100%;
    height: 200px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
}
.text-box {
    margin-left: 7%;
    color: #000;
    font-weight: 400;
}

.product .price {
    font-size: 16px;
    font-weight: 500;
}

.product .title {
    font-size: 18px;
    font-weight: 600;
}
.product .date {
    color: grey;
    font-size: 15px;
}
.product .content {
    line-height: 1.4;    
}
.product .like {
    align-items: flex-end;
}

.button {
    width: 80px; height: 36px;
    background: steelblue;
    color: #fff;
    font-size: 16px;
}